
configuration {
    modi:                       "drun,run,window";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-window:             "";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

@theme "flare"

// color pallete
* {
    font:                        "JetBrainsMono Nerd Font Bold 12";
    background:                  #171717;
    background-alt:              #1f1f1f;
    foreground:                  #E7E2FF;
    selected:                    #FF8F2E;
    active:                      #ea603e;
    urgent:                      #F85931;
}

// theme image (image height is set via y-padding)
inputbar {
    background-image:            url("images/uzumaki.jpg", height);
    padding:                     75px 60px;
}
